.navbar {
    background-color: #005f69 !important;
    color: #fff;
}

.left .link span, .right .link span {
    color: #fff !important;
}

.a {
    color: #fff !important;
}

.list-background {
    background-color: #002c37;
}

.toolbar {
    background-color: #005f69 !important;
    color: #fff;
}

.picker-icon {
    margin-left: 10px;
}

.content-block-inner {
    background-color: #005f69 !important;
}

.content-block-inner, .content-block-title{
    color: #fff !important;
}
