<template name="eventlist">
    <style>
        .imageheader {
            position: relative;
            width: 100vw;
        }

        .imageheader .eventimage {
            width: 100%;
        }

        .imageheader .datetext {
            position: absolute;
            top: 10px;
            right: 0;
        }

        .imageheader .headertext {
            position: absolute;
            top: 130px;
            left: 0;
        }

        .imageheader .subheadertext {
            position: absolute;
            top: 160px;
            left: 0;
        }

        .imageheader .headertext span, .imageheader .subheadertext span, .imageheader .datetext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 5px;
            margin-bottom: 0;
        }
    </style>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div id="picker-text" class="center sliding">{{selectedCity}} <i class="fa fa-caret-down picker-icon"></i>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="index" class="page">
                    <div class="page-content list-background">
                        {{#each event in events}}
                            <a class="" href="{{pathFor route='event' _id=event._id}}">
                                <div class="imageheader">
                                    <h5 class="datetext animated fadeIn">
                                        <span>{{eventlistDateFormat event.begin}}</span></h5>
                                    <img class="eventimage"
                                         src="{{#with getImage event.image_id}}{{this.url store='default'}}{{/with}}">
                                    <h3 class="headertext animated fadeIn"><span>{{event.title}}</span></h3>
                                    <h3 class="subheadertext animated fadeIn"><span>{{event.vendor}}</span>
                                    </h3>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>