<template name="eventlist">
    <style>
        .imageheader {
            position: relative;
            width: 100vw;
        }

        .imageheader .eventimage {
            width: 100%;
        }

        .imageheader .datetext {
            position: absolute;
            top: 10px;
            right: 0;
        }

        .imageheader .headertext {
            position: absolute;
            top: 130px;
            left: 0;
        }

        .imageheader .subheadertext {
            position: absolute;
            top: 160px;
            left: 0;
        }

        .imageheader .headertext span, .imageheader .subheadertext span, .imageheader .datetext span {
            color: white;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 5px;
            margin-bottom: 0;
        }
    </style>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div id="picker-text" class="center sliding">{{selectedCity}} <i
                            class="fa fa-caret-down picker-icon"></i>
                    </div>
                    <div class="right">
                        <a href="#" class="link icon-only open-login needsclick">
                            <i class="icon fa fa-info needsclick"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="index" class="page">
                    <div class="page-content list-background">
                        {{#each event in events}}
                            <a class="" href="{{pathFor route='event' _id=event._id}}">
                                <div class="imageheader">
                                    <h5 class="datetext animated fadeIn">
                                        <span>{{eventlistDateFormat event.begin}}</span></h5>
                                    <img class="eventimage"
                                         src="{{#with getImage event.image_id}}{{this.url store='default'}}{{/with}}">
                                    <h3 class="headertext animated fadeIn"><span>{{event.title}}</span></h3>
                                    <h3 class="subheadertext animated fadeIn"><span>{{event.vendor}}</span>
                                    </h3>
                                </div>
                            </a>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="login-screen" style="background: rgba(0,0,0,0);">
        <!-- Default view-page layout -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left" style="visibility: hidden;">
                    <a href="#" class="link">
                        <i class="icon icon-bars"></i>
                    </a>
                </div>
                <div class="center" style="margin: 0 auto;">Tipp einsenden</div>
                <div class="right">
                    <a href="#" class="link icon-only close-login-screen needsclick">
                        <i class="icon fa fa-close needsclick"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="view">

            <div class="page">
                <div class="page-content login-screen-content list-background">
                    <div class="content-block">
                        <div class="content-block-inner">
                            <h3>Liebe Eltern,</h3>
                            <p>womik lebt von euren Ideen!<br>
                                Sende uns deine besten Tipps und wir teilen sie mit allen Eltern. Schick uns einfach den Link der Veranstaltung oder schreib sogar deine ganz eigene Story.
                                Von Eltern – für Eltern. Und aus einer Idee werden tausend Neue!<br>
                                <br>
                                Besten Dank vorab wünscht dein womik-Team</p>
                            <br><br><br>
                            <div class="button button-big button-fill color-green js-add-tipp needsclick">Tipp
                                einschicken
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>