<template name="eventlist">
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding">Awesome App</div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="index" class="page">
                    <div class="page-content">
                        {{#each event in events}}
                            <a class="link" href="{{pathFor route='event' _id=event._id}}">
                                <img class="eventcard"
                                     src="{{#with getImage event.image_id}}{{this.url store='default'}}{{/with}}">
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                    <a href="#" class="link">Link 1</a>
                    <a href="#" class="link">Link 2</a>
                </div>
            </div>
        </div>
    </div>
</template>