<template name="eventlist">
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="center sliding">Awesome App</div>
                </div>
            </div>
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page">
                    <!-- Scrollable page content -->

                    <div class="page-content">
                        {{#each event in events}}
                            <a class="link" href="{{pathFor route='event' _id='test'}}">
                                <div class="card demo-card-header-pic">
                                <div style="background-image:url({{#with getImage event.image_id}}{{this.url store='default'}}{{/with}})"
                                     valign="bottom"
                                     class="card-header no-border"><h2>{{event.title}}</h2>
                                </div>
                            </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Bottom Toolbar-->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <!-- Toolbar links -->
                    <a href="#" class="link">Link 1</a>
                    <a href="#" class="link">Link 2</a>
                </div>
            </div>
        </div>
    </div>


</template>

<template name="teasdfasfst">
    <div class="views">
        <!-- View -->
        <div class="view view-main">

            <!-- Navbar -->
            <div class="navbar">
                <!-- Home page navbar -->
                <div class="navbar-inner" data-page="index">
                    <div class="center">Home</div>
                </div>

                <!-- About page navbar -->
                <div class="navbar-inner cached" data-page="about">
                    <div class="center">About</div>
                </div>

                <!-- Services page navbar -->
                <div class="navbar-inner cached" data-page="services">
                    <div class="center">Services</div>
                </div>
            </div>

            <!-- Pages -->
            <div class="pages navbar-through">
                <!-- Home page -->
                <div class="page" data-page="index">
                    <div class="page-content">
                        <p>Home page</p>
                        <a href="#about">Go to About page</a>

                    </div>
                </div>

                <!-- About page -->
                <div class="page cached" data-page="about">
                    <div class="page-content">
                        <p>About page</p>
                    </div>
                </div>

                <!-- Services page -->
                <div class="page cached" data-page="services">
                    <div class="page-content">
                        <p>Services page</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>